body{
	padding:0;
	margin: 0;
	background: #858585;
	font-family: 'Open Sans', sans-serif;
}

footer{
	padding: 30px;
	width: 100%;
	height: 300px;
	-webkit-box-shadow: inset 0px 8px 32px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 8px 32px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 8px 32px 0px rgba(0,0,0,0.75);
	background-image: url('/assets/zigzag.png');
	font-family: 'Lato', sans-serif;
}

.footer-table{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.footer-table tr{
	height: 30px;
}

.footer-table td{
	font-family: 'Lato', sans-serif;
}

#footer-label{
	margin-left: auto;
	margin-right: auto;
	color: white;
}

#create-project-btn{
	float: right;
	margin-bottom: 20px;
	margin-right: 25px;
	font-weight: bold;
}

#main-logo{
	margin-top: -7px;
	margin-left: 5px;
}

#main-logo:hover{
	opacity: 0.7;
}


.project-summary-container{
	margin-bottom: 10px;
	width: 100%;
	height:300px;
	border-radius: 0px;
	background: #fff;
	padding: 5px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(173,173,173,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(173,173,173,1);
	box-shadow: 4px 4px 5px 0px rgba(173,173,173,1);
}

.logo{
	height: 140px;
	width: 140px;
}

.main-content{
	position: relative;
	margin-top: -500px;
	margin-left: 250px;
	width: 100% - 250px;
	min-width: 700px;
	height: auto;
	padding: 20px;
}

.main-content-container{
	position: relative;
	width: 1160px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

.main-content-row{
	height: 402px;
}

.main-content-card{
	position: relative;
	width: 285px;
	height: 400px;
	background: #efefef;
	margin-right: 3px;
	margin-bottom: 3px;
	float: left;
	display: block;
}

.main-content-news{
	width: 1149px;
	height: 400px;
	margin-bottom: 10px;
	background: #efefef;
}

.main-content-user-projects{
	width: 1149px;
	height: 400px;
	margin-bottom: 10px;
	background: #efefef;
}

.messages-box{
	float: right;
	position: relative;
	margin-right: 130px;
	width: 250px;
	height: 320px;
	background: #fff;
	z-index: 999999;
	background: #efefef;
	-webkit-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	display: none;
	overflow: scroll;
}

.messages-box ul li{
	height: 40px;
	cursor: pointer;
}


#new-project-container{
	width: 1149px;
	min-height: 800px;
	height: auto;
	background: #efefef;
	padding: 50px;
}

.friends-box{
	float: right;
	position: relative;
	margin-right: 90px;
	width: 250px;
	height: 320px;
	background: #fff;
	z-index: 999999;
	background: #efefef;
	-webkit-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	display: none;
	overflow: scroll;
}

.friends-box ul li{
	height: 40px;
	cursor: pointer;
}

.tasks-box{
	float: right;
	position: relative;
	margin-right: 170px;
	width: 250px;
	height: 320px;
	background: #fff;
	z-index: 999999;
	background: #efefef;
	-webkit-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	display: none;
	overflow: scroll;
}

.tasks-box ul li{
	height: 40px;
	cursor: pointer;
}

.profile-container{	
	width: 1149px;
	height: 800px;
	background: #efefef;
	-webkit-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
}

.profile-cover-image{
	width: 1149px;
	height: 300px;
	background-image: url("http://thewowstyle.com/wp-content/uploads/2015/02/Landscape-Photography-Brisbane.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-picture-circle{
	position: absolute;
	background: #efefef;
	border-radius: 50%;
	border: 3px solid #CCCCCC;
	width: 200px;
	height: 200px;
	margin-top: 50px;
	margin-left: 50px;
	background-image: url('/assets/default-profile-picture.png');
	background-repeat: no-repeat;
	background-position: center;
}

.register-form-container{
	padding: 150px;
	width: 1149px;
	height: 800px;
	margin-bottom: 10px;
	background: #efefef;
}

#register-form{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#new-project-form{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.project-summary-container .summary{
	height: 135px;
	margin-left: 145px;
	margin-top: -140px;
	margin-right: 5px;
	padding: 5px;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#side-menu a{
	font-weight: bold;
	color: black;
}

#side-menu li{
	border-radius: 0px;
}

#side-menu a:hover{
	opacity: 0.7;
}

#side-menu{
	width: 250px;
	height: 500px;
	background: #efefef;
	-webkit-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
}

#side-menu-user{
	width: 250px;
	height: 500px;
	background: #efefef;
	-webkit-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
	box-shadow: 7px 7px 16px -6px rgba(0,0,0,0.27);
}

#side_menu_header{
	width: 250px;
	height: 170px;
	background-image: url("http://thewowstyle.com/wp-content/uploads/2015/02/Landscape-Photography-Brisbane.jpg");
}

#side_menu_profile_image{
	position: absolute;
	background: #efefef;
	border-radius: 50%;
	border: 3px solid #CCCCCC;
	width: 80px;
	height: 80px;
	margin-top: 20px;
	margin-left: 20px;
	background-image: url('/assets/default-profile-picture.png');
	background-repeat: no-repeat;
	background-position: center;
}

#side_menu_user_info{
	position: absolute;
	margin-top: 130px;
	width: 250px;
	height: 40px;
	background: #000;
	color: #fff;
	padding: 10px;
	font-weight: bold;
	opacity: 0.7;
}

#show-user-options-down{
	float: right;
	margin-top: 2px;
}

#show-user-options-up{
	float: right;
	margin-top: 2px;
}

.summary .apply-button{
	float: right;
}

.summary .contributors{
	float: right;
	margin-top: 40px;
	margin-right: 40px;
}

.summary .text{
	margin-right: 60px;
	min-height: 120px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

.user-options li a{
	margin-left: 10px;
	background:  #e4e4e4 !important;
}

.user-top-bar{
	color: white;
	margin-right: 20px;
	margin-top: 12px;
}

.user-top-bar i{
	margin-right: 15px;
	opacity: 0.8;
} 

.user-top-bar i:hover{
	cursor: pointer;
	opacity: 0.7;
} 

/*
	/////////////////////////////////////////////////////////
	Modified Bootstrap Classes
	/////////////////////////////////////////////////////////
*/
.navbar{
	background: #333333;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.nav-pills li .main-logo{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: black;
	border-radius: 0px;
	background: #efefef;
}

.nav-pills li .:hover{
	opacity: 0.7;
	border-radius: 0px;
	background: #efefef !important;
}

.nav-pills li:hover{
	background: #c6c6c6;
	margin-left: 2px;
	-webkit-transition: margin-left 0.2s ease-in-out;
}

.btn-login-register { 
  color: #ffffff; 
  background-color: #6B6B6B; 
  border-color: #17132B; 
} 
 
.btn-login-register:hover, 
.btn-login-register:focus, 
.btn-login-register:active, 
.btn-login-register.active, 
.open .dropdown-toggle.btn-login-register { 
  color: #ffffff; 
  background-color: #383838; 
  border-color: #17132B; 
} 
 
.btn-login-register:active, 
.btn-login-register.active, 
.open .dropdown-toggle.btn-login-register { 
  background-image: none; 
} 
 
.btn-login-register.disabled, 
.btn-login-register[disabled], 
fieldset[disabled] .btn-login-register, 
.btn-login-register.disabled:hover, 
.btn-login-register[disabled]:hover, 
fieldset[disabled] .btn-login-register:hover, 
.btn-login-register.disabled:focus, 
.btn-login-register[disabled]:focus, 
fieldset[disabled] .btn-login-register:focus, 
.btn-login-register.disabled:active, 
.btn-login-register[disabled]:active, 
fieldset[disabled] .btn-login-register:active, 
.btn-login-register.disabled.active, 
.btn-login-register[disabled].active, 
fieldset[disabled] .btn-login-register.active { 
  background-color: #6B6B6B; 
  border-color: #17132B; 
} 
 
.btn-login-register .badge { 
  color: #6B6B6B; 
  background-color: #ffffff; 
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}