{% include "header.html" %}
{% include "top_bar.html" %}
{% include "side_menu.html" %}
<link rel="stylesheet" type="text/css" href="bower/bootstrap-fileinput/css/fileinput.min.css">
<script src="bower/bootstrap-fileinput/js/fileinput.min.js" type="text/javascript"></script>


<div class="main-content">
  <div class="main-content-container">
    <section id="edit-project-container">
        Last Updated: {{project.updated.strftime('%Y-%m-%d') }}
        {{project.updated.strftime("at %I:%M%p") }}  
        <form role="form" id="edit-project-form" enctype="multipart/form-data" method="POST">
        <br><br>
            <div class="form-group">
                <label for="title">Project Title:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="" value="{{project.title}}">
        </div>
        <div class="form-group">
            <label for="description">Project Description:</label>
            <textarea class="form-control" rows="5" id="description" name="description">{{project.description}}</textarea>
            <script>CKEDITOR.replace( 'description' );</script>
        </div>
        <label for="field">Project Field:</label>
        {% for field in fields %}
        <div class="radio">
            {% if field.key == project.field %}
            <label><input type="radio" name="field" value="{{field.slug}}" checked>{{field.name}}</label>
            {% else %}
            <label><input type="radio" name="field" value="{{field.slug}}">{{field.name}}</label>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group">
            <label for="profession">What sort of talent will you need?</label>
            <br>
            {% for profession in professions %}
                    {% if profession.key in project.professions %}
                        <label class="checkbox-inline"><input type="checkbox" value="{{profession.slug}}" name="professions" checked>{{profession.name}}</label>
                    {% else %}
                        <label class="checkbox-inline"><input type="checkbox" value="{{profession.slug}}" name="professions">{{profession.name}}</label>
                    {% endif %}
            {% endfor %}
        </div>
        <label for="type">Project Type:</label>
        {% for type in project_types %}
        <div class="radio">
            {% if type.key == project.project_type %}
            <label><input type="radio" name="type" value="{{type.slug}}">{{type.name}}</label>
            {% else %}
            <label><input type="radio" name="type" value="{{type.slug}}" checked>{{type.name}}</label>
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group">
            <label for="card">Your Project Card (500px in height by 285px in width):</label>
            <br>
            <input id="input-id" type="file" class="file" accept="image/*" data-show-upload="false" data-preview-file-type="text" name="card">
            <script>
                $("#input-id").fileinput({
                    initialPreview: [
                        "<img src='/image?id={{project.card.id()}}' class='file-preview-image' alt='Example' title='Example Card'>",
                    ],
                    overwriteInitial: true,
                    maxFileSize: 500,
                    previewFileType: "image",
                    browseClass: "btn btn-success",
                    browseLabel: "Pick Image",
                    browseIcon: '<i class="glyphicon glyphicon-picture"></i>',
                    removeClass: "btn btn-danger",
                    removeLabel: "Delete",
                    removeIcon: '<i class="glyphicon glyphicon-trash"></i>',
                    uploadClass: "btn btn-info",
                    uploadLabel: "Upload",
                    uploadIcon: '<i class="glyphicon glyphicon-upload"></i>',
                });
        </script>   
        </div>
        <div class="form-group">
            <br>
            <button class="btn btn-warning">Update Project!</button>
        </div>
        </form>
    </section>
  </div><!--main-content-container-->
</div><!--End of main-content-->

{% include "footer.html" %}