  <footer>
  <table class="footer-table" class="table">
  	<thead>
  		<td><h3>Coreator.com</h3></td>
  		<td><h3>Our Policies</h3></td>
  		<td><h3>Suggestions</h3></td>
  		<td><h3>Help</h3></td>
  	</thead>
  	<tr>
  		<td><a href="#about">About</a></td>
  		<td><a href="#about">Privacy Policy</a></td>
  		<td><a href="#about">Got a suggestion? Let us know!</a></td>
  		<td><a href="#about">Contact Us</a></td>
  	</tr>
   	<tr>
  		<td><a href="#about">FAQ</a></td>
  		<td><a href="#about">Terms of Use</a></td>
  		<td></td>
  		<td><a href="#about">Report an Issue</a></td>
  	</tr>
   	<tr>
  		<td></td>
  		<td></td>
  		<td></td>
  		<td></td>
  	</tr>
  	   <tr>
  		<td></td>
  		<td></td>
  		<td></td>
  		<td></td>
  	</tr>
  </table>

  <div id="footer-label"><br><br><center>This website was designed and built by <a href="http://www.krisv.net">Kris Vukasinovic</a>. Copyright 2015. </center></div>
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script type="text/javascript" src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower/react/react.min.js"></script>
  <script type="text/javascript" src="bower/react/JSXTransformer.js"></script>
  </body>
</html>