  <footer>
  <table class="footer-table" class="table">
  	<thead>
  		<td><h3><u>Coreator.com</u></h3></td>
  		<td><h3><u>Our Policies</u></h3></td>
  		<td><h3><u>Suggestions</u></h3></td>
  		<td><h3><u>Help</u></h3></td>
  	</thead>
  	<tr>
  		<td><a href="#about">About</a></td>
  		<td><a href="#about">Privacy Policy</a></td>
  		<td><a href="#about">Got a suggestion? Let us know!</a></td>
  		<td><a href="#about">Contact Us</a></td>
  	</tr>
   	<tr>
  		<td><a href="#about">FAQ</a></td>
  		<td><a href="#about">Terms of Use</a></td>
  		<td></td>
  		<td><a href="#about">Report an Issue</a></td>
  	</tr>
   	<tr>
  		<td></td>
  		<td></td>
  		<td></td>
  		<td></td>
  	</tr>
  	   <tr>
  		<td></td>
  		<td></td>
  		<td></td>
  		<td></td>
  	</tr>
  </table>

  <div id="footer-label">This website is</div>
  </footer>
  <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower/react/react.min.js"></script>
  <script type="text/javascript" src="bower/react/JSXTransformer.js"></script>
  </body>
</html>