<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img id="main-logo" src="../assets/coreator-logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if user %}
        <li class="user-top-bar">
          <i class="fa fa-tasks fa-2x" id="tasks-top-button"></i>
            <div class="tasks-box">
              <ul class="nav nav-pills nav-stacked">
                <li>Task 1</li>
                <li>Task 2</li>
                <li>Task 3</li>
                <li>Task 4</li>
                <li>Task 5</li>
                <li>Task 6</li>
                <li>Task 7</li>
                <li>Task 8</li>
                <li>Task 9</li>
                <li>Task 10</li>
                <li>Task 11</li>
                <li>Task 12</li>
              </ul>
            </div>
          <i class="fa fa-envelope fa-2x" id="messages-top-button"></i>
            <div class="messages-box">
              <ul class="nav nav-pills nav-stacked">
                <li>Message 1</li>
                <li>Message 2</li>
                <li>Message 3</li>
                <li>Message 4</li>
                <li>Message 5</li>
                <li>Message 6</li>
                <li>Message 7</li>
                <li>Message 8</li>
                <li>Message 9</li>
                <li>Message 10</li>
                <li>Message 11</li>
                <li>Message 12</li>
              </ul>
            </div>
          <i class="fa fa-users fa-2x" id="friends-top-button"></i>
            <div class="friends-box">
              <ul class="nav nav-pills nav-stacked">
                <li>Friend 1</li>
                <li>Friend 2</li>
                <li>Friend 3</li>
                <li>Friend 4</li>
                <li>Friend 5</li>
                <li>Friend 6</li>
                <li>Friend 7</li>
                <li>Friend 8</li>
                <li>Friend 9</li>
                <li>Friend 10</li>
                <li>Friend 11</li>
                <li>Friend 12</li>
              </ul>
            </div>
        </li>
        {% else %}
        <li>
          <form class="navbar-form navbar-left" role="search" method="post">
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Email">
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-login-register">Log In</button>
            <a href="/register"><button type="button" class="btn btn-login-register">Register</button></a>
          </form>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<script>

  $(document).ready(function(){
    $('#messages-top-button').click(function(){
      $('.messages-box').slideToggle();
      $('.tasks-box').hide();
      $('.friends-box').hide();
    });

    $('#tasks-top-button').click(function(){
      $('.tasks-box').slideToggle();
      $('.messages-box').hide();
      $('.friends-box').hide();
    });

    $('#friends-top-button').click(function(){
      $('.friends-box').slideToggle();
      $('.messages-box').hide();
      $('.tasks-box').hide();
    });

    $('#logout-top-button').click(function(){
      window.location.replace('/logout')
    });

  });

</script>